*{
			margin: 0;
			color: #083D77;
			background-color: #F3B700;

		}
		.container{
			position: relative;
			width: 50%;
			margin:auto;
		}
		.container img{
			width: 125%;
			height: auto;
			vertical-align: middle;
		}
		.container .button{
			position: absolute;
			top: 20%;
			
			transform: translate(600%, 300%);
			
			background-color: #555;
			color: white;
			font-size: 16px;
			padding: 12px 24px;
			border: none;
			cursor: pointer;
			border-radius: 5px;
		}
		.container .button:hover{
			background-color: #F15BB5;
		}
		#intro{
			margin-top: 200px;
			width: 80%;
            height: 50%;
            vertical-align: middle;

		}
		header{
			height: 150px;
            background-color: #FF0022;
            font-style: oblique;
            font-size: 4em;
            text-align: center;
            color: #CCFF66;
        }
    nav
      {
          height: 50px;
          
          list-style-type: none;
      }
    ul
      {
          margin-top: 0;
          list-style: none;
          text-align: right;
      }
    li
      {
          display: inline;
          font-size: 1.3em;
          color: wheat;
          margin: 10px;
          margin-top: 10px;
          padding-top: 10px;
      }
      li:hover
      {
          background-color: #D4F2DB;
          color: black;
      }